.works {
  padding: 41px 0 68px;

  &__title {
    margin-bottom: 18px;
    line-height: 25px;
    color: #202020;
  }

  &__wrap {
    grid-template-areas: "event event event event event event works works works works works works";
  }

  &__event {
    position: relative;
    grid-area: event;
    display: flex;
    align-items: flex-end;
    overflow: hidden;

    &-picture {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &-hash {
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 7px 15px;
      background-color: #202020;
      font-family: 'Roboto', Verdana, sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #FFFFFF;
    }

    &-info {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 60px;
    }

    &-caption {
      @include resetMargins;
      margin-bottom: 3px;
      font-family: 'Roboto', Verdana, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
    }

    &-title {
      @include resetMargins;
      margin-bottom: 19px;
      font-family: 'TT Firs Neue', Roboto, Verdana, sans-serif;
      font-weight: 700;
      font-size: 36px;
      line-height: 37px;
      color: white;
    }
  }

  &__items {
    grid-area: works;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-auto-columns: 1fr;
    gap: 30px;
    @include resetLists;
  }

  &__item {
    &:nth-child(1) {
      grid-column: 1 / 3;
    }

    &-picture {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width: $break-tablet-album) {
    padding: 34px 0 67px;

    &__title {
      margin-bottom: 25px;
    }

    &__wrap {
      grid-template-areas: "event event event event works works works works";
    }

    &__event {
      &-info {
        padding: 30px;
      }

      &-caption {
        margin-bottom: 9px;
      }

      &-title {
        margin-bottom: 22px;
        font-size: 34px;
        line-height: 34px;
      }
    }
  }

  @media screen and (max-width: $break-tablet) {
    grid-template-columns: repeat(8, 1fr);
    padding: 35px 0 67px;

    &__title {
      margin-bottom: 17px;
      font-size: 22px;
      line-height: 23px;
    }

    &__wrap {
      grid-template-areas: "event event event works works works";
    }

    &__event {
      &-caption {
        margin-bottom: 14px;
      }

      &-title {
        margin-bottom: 23px;
        line-height: 31px;
      }
    }
  }

  @media screen and (max-width: $break-mobile) {
    grid-template-columns: unset;
    grid-template-rows: auto;
    padding: 30px 0 50px;

    &__title {
      margin-bottom: 16px;
      font-size: 18px;
      line-height: 19px;
    }

    &__wrap {
      grid-template-areas:
              "event event"
              "works works";
      gap: 34px;
    }

    &__items {
      gap: 30px;
    }

    &__event {
      min-height: 422px;
      &-hash {
        top: 6px;
        right: 5px;
        padding: 4px 8px;
        font-size: 12px;
        line-height: 14px;
      }

      &-caption {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 16px;
      }

      &-title {
        max-width: 170px;
        margin-bottom: 14px;
        font-size: 24px;
        line-height: 26px;
      }
    }
  }
}